{{ 'about-us-cards-section.css' |  asset_url |  stylesheet_tag }}
<div class="about_us_cards_section">
    <div class="card_about_us">
        <img src="https://a.storyblok.com/f/148227/3000x2176/0e0d1763d1/facade2.jpg" alt="">
        <div class="main_content">
            <h1 class="title_content">Our Stores
            </h1>
            <p class="paragraph">Nearest to your home</p>
            <div class="action_button_collection">DISCOVER</div>
        </div>
    </div>
    <div class="card_about_us" style="margin-top: 10vh;">
        <img src="https://a.storyblok.com/f/148227/3000x2176/0e0d1763d1/facade2.jpg" alt="">
        <div class="main_content">
            <h1 class="title_content">Our Stores
            </h1>
            <p class="paragraph">Nearest to your home</p>
            <div class="action_button_collection">DISCOVER</div>
        </div>
    </div>
</div>