{{ 'collection-list-filter-section.css' |  asset_url |  stylesheet_tag }}
<collection-list-filter>
<div class="collection_list_filter_section">
    <h1 class="title_section">Down jackets iconic</h1>
    <div class="filter_container">
        <div class="colors_picker">
            <div class="colors_picker_wrapper">
                <div class="color_container">
                    <div class="color"></div>
                </div>
                <div class="color_container">
                    <div class="color"></div>
                </div>
                <div class="color_container">
                    <div class="color"></div>
                </div>
                <div class="color_container">
                    <div class="color"></div>
                </div>
                <div class="color_container">
                    <div class="color"></div>
                </div>
                <div class="color_container">
                    <div class="color"></div>
                </div>
                <div class="color_container">
                    <div class="color"></div>
                </div>
                <div class="color_container">
                    <div class="color"></div>
                </div>
                <div class="color_container">
                    <div class="color"></div>
                </div>
            </div>  
        </div>
        <div class="collection_tabs_container">
            <div class="collection_tab">MAN</div>
            <div class="collection_tab">WOMAN</div>
            <div class="collection_tab">KIDS</div>
        </div>
    </div>
    <div class="arrows_container">
            <div class="button_previous"><img src="{{ 'left-chevron.png' |  asset_url }}" alt=""></div>
            <div class="button_next"><img src="{{ 'left-chevron.png' |  asset_url }}" alt=""></div>
    </div>
    <div class="products_container">   
        <div class="product_card">
            <div class="product_images_container">
                <img src="https://justoverthetop.twic.pics/jott.com/cdn/shop/files/2dd2b7aa54ce39bc979ddf1c60378552.jpg?v=1700532331/output=preview&twic=v1/resize=420x520/quality=85" alt="" class="top">
                <img src="https://justoverthetop.twic.pics/jott.com/cdn/shop/files/89c8824443a69eaf3f7e42f85c108fdf.jpg?v=1693308843&twic=v1/resize=420x520/quality=85" alt="" class="bottom">
            </div>
            <span class="product_badge">BEST SELLER</span>
            <a class="product_title">Lightweight hooded puffer jacket Black Nico</a>
            <div class="bottom_container">
                <div class="color_product"></div>
                <div class="color_product"></div>
                <div class="color_product"></div>
                <div class="color_product"></div>
                <div class="color_product"></div>
                <div class="color_product"></div>
                <div class="color_product"></div>
                <div class="color_product"></div>
                <span class="see_more">See more</span>
                <span class="price_product">180,00 $</span>
            </div>
        </div>
        <div class="product_card">
            <div class="product_images_container">
                <img src="https://justoverthetop.twic.pics/jott.com/cdn/shop/files/2dd2b7aa54ce39bc979ddf1c60378552.jpg?v=1700532331/output=preview&twic=v1/resize=420x520/quality=85" alt="" class="top">
                <img src="https://justoverthetop.twic.pics/jott.com/cdn/shop/files/89c8824443a69eaf3f7e42f85c108fdf.jpg?v=1693308843&twic=v1/resize=420x520/quality=85" alt="" class="bottom">
            </div>
            <span class="product_badge">BEST SELLER</span>
            <a class="product_title">Lightweight hooded puffer jacket Black Nico</a>
            <div class="bottom_container">
                <div class="color_product"></div>
                <div class="color_product"></div>
                <div class="color_product"></div>
                <div class="color_product"></div>
                <div class="color_product"></div>
                <div class="color_product"></div>
                <div class="color_product"></div>
                <div class="color_product"></div>
                <span class="see_more">See more</span>
                <span class="price_product">180,00 $</span>
            </div>
        </div>
        <div class="product_card">
            <div class="product_images_container">
                <img src="https://justoverthetop.twic.pics/jott.com/cdn/shop/files/2dd2b7aa54ce39bc979ddf1c60378552.jpg?v=1700532331/output=preview&twic=v1/resize=420x520/quality=85" alt="" class="top">
                <img src="https://justoverthetop.twic.pics/jott.com/cdn/shop/files/89c8824443a69eaf3f7e42f85c108fdf.jpg?v=1693308843&twic=v1/resize=420x520/quality=85" alt="" class="bottom">
            </div>
            <span class="product_badge">BEST SELLER</span>
            <a class="product_title">Lightweight hooded puffer jacket Black Nico</a>
            <div class="bottom_container">
                <div class="color_product"></div>
                <div class="color_product"></div>
                <div class="color_product"></div>
                <div class="color_product"></div>
                <div class="color_product"></div>
                <div class="color_product"></div>
                <div class="color_product"></div>
                <div class="color_product"></div>
                <span class="see_more">See more</span>
                <span class="price_product">180,00 $</span>
            </div>
        </div>
        <div class="product_card">
                <div class="product_images_container">
                    <img src="https://justoverthetop.twic.pics/jott.com/cdn/shop/files/2dd2b7aa54ce39bc979ddf1c60378552.jpg?v=1700532331/output=preview&twic=v1/resize=420x520/quality=85" alt="" class="top">
                    <img src="https://justoverthetop.twic.pics/jott.com/cdn/shop/files/89c8824443a69eaf3f7e42f85c108fdf.jpg?v=1693308843&twic=v1/resize=420x520/quality=85" alt="" class="bottom">
                </div>
                <span class="product_badge">BEST SELLER</span>
                <a class="product_title">Lightweight hooded puffer jacket Black Nico</a>
                <div class="bottom_container">
                    <div class="color_product"></div>
                    <div class="color_product"></div>
                    <div class="color_product"></div>
                    <div class="color_product"></div>
                    <div class="color_product"></div>
                    <div class="color_product"></div>
                    <div class="color_product"></div>
                    <div class="color_product"></div>
                    <span class="see_more">See more</span>
                    <span class="price_product">180,00 $</span>
                </div>    
        </div>
        <div class="product_card">
                <div class="product_images_container">
                    <img src="https://justoverthetop.twic.pics/jott.com/cdn/shop/files/2dd2b7aa54ce39bc979ddf1c60378552.jpg?v=1700532331/output=preview&twic=v1/resize=420x520/quality=85" alt="" class="top">
                    <img src="https://justoverthetop.twic.pics/jott.com/cdn/shop/files/89c8824443a69eaf3f7e42f85c108fdf.jpg?v=1693308843&twic=v1/resize=420x520/quality=85" alt="" class="bottom">
                </div>
                <span class="product_badge">BEST SELLER</span>
                <a class="product_title">Lightweight hooded puffer jacket Black Nico</a>
                <div class="bottom_container">
                    <div class="color_product"></div>
                    <div class="color_product"></div>
                    <div class="color_product"></div>
                    <div class="color_product"></div>
                    <div class="color_product"></div>
                    <div class="color_product"></div>
                    <div class="color_product"></div>
                    <div class="color_product"></div>
                    <span class="see_more">See more</span>
                    <span class="price_product">180,00 $</span>
                </div>    
        </div>
        <div class="product_card">
                <div class="product_images_container">
                    <img src="https://justoverthetop.twic.pics/jott.com/cdn/shop/files/2dd2b7aa54ce39bc979ddf1c60378552.jpg?v=1700532331/output=preview&twic=v1/resize=420x520/quality=85" alt="" class="top">
                    <img src="https://justoverthetop.twic.pics/jott.com/cdn/shop/files/89c8824443a69eaf3f7e42f85c108fdf.jpg?v=1693308843&twic=v1/resize=420x520/quality=85" alt="" class="bottom">
                </div>
                <span class="product_badge">BEST SELLER</span>
                <a class="product_title">Lightweight hooded puffer jacket Black Nico</a>
                <div class="bottom_container">
                    <div class="color_product"></div>
                    <div class="color_product"></div>
                    <div class="color_product"></div>
                    <div class="color_product"></div>
                    <div class="color_product"></div>
                    <div class="color_product"></div>
                    <div class="color_product"></div>
                    <div class="color_product"></div>
                    <span class="see_more">See more</span>
                    <span class="price_product">180,00 $</span>
                </div>    
        </div>
        <div class="product_card">
                <div class="product_images_container">
                    <img src="https://justoverthetop.twic.pics/jott.com/cdn/shop/files/2dd2b7aa54ce39bc979ddf1c60378552.jpg?v=1700532331/output=preview&twic=v1/resize=420x520/quality=85" alt="" class="top">
                    <img src="https://justoverthetop.twic.pics/jott.com/cdn/shop/files/89c8824443a69eaf3f7e42f85c108fdf.jpg?v=1693308843&twic=v1/resize=420x520/quality=85" alt="" class="bottom">
                </div>
                <span class="product_badge">BEST SELLER</span>
                <a class="product_title">Lightweight hooded puffer jacket Black Nico</a>
                <div class="bottom_container">
                    <div class="color_product"></div>
                    <div class="color_product"></div>
                    <div class="color_product"></div>
                    <div class="color_product"></div>
                    <div class="color_product"></div>
                    <div class="color_product"></div>
                    <div class="color_product"></div>
                    <div class="color_product"></div>
                    <span class="see_more">See more</span>
                    <span class="price_product">180,00 $</span>
                </div>    
        </div>
    </div>
    <div class="action_button_collection">SEE THE SELECTION</div>
</div>
</collection-list-filter>
{{ 'collection-list-filter.js' |  asset_url  |  script_tag}}