{{ 'featured-on-section.css' |  asset_url |  stylesheet_tag }}
<featured-on>
<div class="featured_on_container">
    <div class="featuredons_list_scroll">
        <a class="featuredon_card">
            <img src="//blissy.com/cdn/shop/files/good-housekeeping-shopify_160x160@2x.png?v=1621015522" alt="">
        </a>
        <a class="featuredon_card">
            <img src="//blissy.com/cdn/shop/files/popsugar-shopify_160x160@2x.png?v=1621015688" alt="">
        </a>
        <a class="featuredon_card">
            <img src="//blissy.com/cdn/shop/files/marie-claire-shopify_160x160@2x.png?v=1621015640" alt="">
        </a>
        <a class="featuredon_card">
            <img src="//blissy.com/cdn/shop/files/pure-wow-shopify_160x160@2x.png?v=1621015791" alt="">
        </a>
        <a class="featuredon_card">
            <img src="//blissy.com/cdn/shop/files/byrdie-shopify_160x160@2x.png?v=1621015735" alt="">
        </a>
        <a class="featuredon_card">
            <img src="//blissy.com/cdn/shop/files/good-housekeeping-shopify_160x160@2x.png?v=1621015522" alt="">
        </a>
        <a class="featuredon_card">
            <img src="//blissy.com/cdn/shop/files/marie-claire-shopify_160x160@2x.png?v=1621015640" alt="">
        </a>
        <a class="featuredon_card">
            <img src="//blissy.com/cdn/shop/files/marie-claire-shopify_160x160@2x.png?v=1621015640"" alt="">
        </a>
        <a class="featuredon_card">
            <img src="//blissy.com/cdn/shop/files/byrdie-shopify_160x160@2x.png?v=1621015735" alt="">
        </a>
    </div>
    <div class="scroll_arrows_container">
        <div class="left_arrow"><img src="{{ 'left-arrow-blue.png' |  asset_url }}" alt=""></div>
        <div class="right_arrow"><img src="{{ 'left-arrow-blue.png' |  asset_url }}" alt=""></div>
    </div>
</div>
</featured-on>
{{ 'featured-on.js' |  asset_url |  script_tag }}