{{ 'gift-card-section.css' |  asset_url |  stylesheet_tag }}
<div class="gift_card_section">
    <div class="gift_card_wrapper">
        <div class="gift_image_container">
            <img src="https://a.storyblok.com/f/148227/1296x1296/903e834a64/jott_xmas3659-carre.jpg/m/1296x0/filters:quality(80)" alt="">
        </div>
        <div class="main_gift_content">
            <h1 class="title_content">Your gifts up to 20% off
            </h1>
            <p class="paragraph">Go for the JOTT look and get a discount! <br><br>

            Pair an accessory or sweatshirt with your down jacket and get up to 20% off your set. Discover our selection of products eligible for this offer.</p>
            <div class="action_button_collection">SEE THE SELECTION</div>
        </div>
    </div>
</div>