{{ 'gift-card-reverse-section.css' |  asset_url |  stylesheet_tag }}
<div class="git_card_section">
    <div class="gift_card_wrapper">
        <div class="main_gift_content">
            <h1 class="title_content">Christmas selection

            </h1>
            <p class="paragraph">Live Christmas with JOTT and find the perfect gift for your loved ones. <br><br>

            For Man, for women or for Kid, discover our best products to (indulge) yourself!
            
            </p>
            <div class="action_button_collection">DISCOVER OUR SELECTION</div>
        </div>
        <div class="gift_image_container">
            <img src="https://a.storyblok.com/f/148227/1296x1296/4d3d3aa44b/jott_xmas4494-carre.jpg/m/648x0/filters:quality(80)" alt="">
        </div>
       
    </div>
</div>