{{ 'hero-section.css' |  asset_url |  stylesheet_tag }}
<div class="hero_section_container">
    <div class="img_container"><img src="https://a.storyblok.com/f/148227/2880x1580/dba25665a4/jott_xmas4885-1-hero.jpg" alt=""></div>
    <div class="main_content">
        <h1 class="hero_title">Christmas in down jackets</h1>
        <div class="buttons_hero_container">
            <a class="btn"><span>WOMAN</span></a>
            <a class="btn"><span>MEN</span></a>
        </div>
    </div>
</div>