<div style="height: 200vh;display:flex;width:100vw;position:relative;">
<img src="https://a.storyblok.com/f/148227/2880x1580/dba25665a4/jott_xmas4885-1-hero.jpg" style="width:100vw;height:100vh;position: absolute;top:-100px;z-index:-1;" alt="">
    </div>
